.date-picker-popup {
    -fx-background-color: #e1e1e1;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.date-picker-popup>*>.spinner>.button {
    -fx-color: #eeeeee;
    -fx-border-color: #eeeeee;
}

.date-picker-popup>*>.spinner>.button:hover {
    -fx-color: #eeeeee;
}

.date-picker-popup>*>.spinner>.button:armed {
    -fx-color: #eeeeee;
}

.date-picker-popup>*>.spinner>.button>.left-arrow,
.date-picker-popup>*>.spinner>.button>.right-arrow {
    -fx-background-color: #1e1e1e;
}

.date-picker-popup>*>.spinner>.button:hover>.left-arrow,
.date-picker-popup>*>.spinner>.button:hover>.right-arrow {
    -fx-background-color: #1e1e1e;
}

.date-picker-popup>*>.spinner>.button:pressed>.left-arrow,
.date-picker-popup>*>.spinner>.button:pressed>.right-arrow {
    -fx-background-color: #1e1e1e;
}

.date-picker-popup>*>.spinner>.label {
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup>.month-year-pane {
    -fx-background-color: #eeeeee;
    -fx-border-color: #eeeeee;
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup>*>.day-name-cell,
.date-picker-popup>*>.week-number-cell {
    -fx-background-color: #eeeeee;
    -fx-border-color: #eeeeee;
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup .day-cell {
    -fx-background-color: #d9d9d9;
    -fx-border-color: #d9d9d9;
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #e999b4;
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup .day-cell.selected {
    -fx-background-color: #df004c;
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup>*>.previous-month,
.date-picker-popup>*>.next-month {
    -fx-background-color: #eeeeee;
    -fx-border-color: #eeeeee;
    -fx-text-fill: #1e1e1e;
}

.date-picker-popup .today {
    -fx-background-color: #e999b4;
    -fx-text-fill: #1e1e1e;
}